<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <!-- Rewrite the following link using the link_to method -->
        <%= link_to("TweetApp", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <!-- Rewrite the following link using the link_to method -->
          <%= link_to("About", "/about") %>
        </li>
        <li>
          <!-- Add a link to /posts/index using the link_to method -->
          <%= link_to("Posts", "/posts/index") %>
        </li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>

