<!-- 指定されたコードを貼り付けてください -->
<div class="main user-show">
  <div class="container">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("Edit", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("Posts", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("Likes", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <!-- 変数@likesに対してeach文を用いてください -->
    <% @likes.each do |like| %>
      <!-- 変数postを定義してください -->
      <% post = Post.find_by(id: like.post_id) %>
      
      <div class="posts-index-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <!-- each文のendを追加してください -->
    <% end %>
  </div>
</div>
